.pazza-blue-background { background-color: #3a73a1; }
.pazza-grey-background  { background-color: #f0f0f5; }
.pazza-dark-grey-background { background-color: #dbdbdb; }
.pazza-darker-grey-background { background-color: #999999; }
.pazza-white-background  { background-color: #ffffff; }
.pazza-yellow-background { background-color: #fff9c4; }
.pazza-grey-border  { border-color: #a9a9a9; }

.pazza-light-blue {
    background-color: lightblue;
}

.pazza-create-text {
    color: #2d2e2e;
    font-style: italic;
    font-weight: initial;
}

/* The css for the main pazza nav bar */
#pazza-nav-bar {
    padding: 15px;
}

#pazza-home-btn {
    font-weight: bolder;
    font-size: 30px;
    color: white;
    margin-left: 10px;
    background: none;
    border: transparent;
}

.pazza-course-title-nb {
    padding-top: 12px;
    text-align: left;
}

.pazza-menu-bar-small-links {
    font-weight: bold;
    text-wrap: nowrap;
    font-size: 16px;
    color: white;
    border: transparent;
}

.pazza-unread-post-box {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 1px;
    padding-right: 1px;
    color: white;
    background-color: black;
    font-size: 14px;
}