/* The blue color for the Pazza application */
.pazza-blue {
    background-color: #2a70ae;
}

/* The background color for the Pazza application */
.pazza-background {
    background-color: lightgray;
}

/* The dark accent background color for the Pazza application */
.pazza-background-dark {
    background-color: darkgray;
}

/* The css for the main pazza nav bar */
#pazza-nav-bar {
    padding: 15px;
}

#pazza-home-btn {
    font-weight: bolder;
    font-size: 30px;
    color: white;
    margin-left: 10px;
    background: none;
    border: transparent;
}

.pazza-course-title-nb {
    padding-top: 12px;
    text-align: left;
}

.pazza-menu-bar-small-links {
    font-weight: bold;
    text-wrap: nowrap;
    font-size: 16px;
    color: white;
    border: transparent;
}

.pazza-unread-post-box {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 1px;
    padding-right: 1px;
    color: white;
    background-color: black;
    font-size: 14px;
}